<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>MNIST Application</title>
        <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    </head>

    <body>

        <br>
        <center><h1 id="title">MNIST Flask Application</h1></center>
        <br>
        <form name="image_form" action="/" method="POST" enctype="multipart/form-data">
            <div style="width: 800px; margin: 0 auto; justify-content: center; align-items: center">

                <div style="width: 280px; height: 280px; float:left; border:1px solid rgb(100, 100, 100); font-size: 280px; line-height: 280px; text-align: center">
                    <img src="" id="preview" style="width: 280px; height: 280px; float:left;">
                </div>

                <div style="width: 230px; height: 280px; float: left; position:relative">
                    <input type="file" name="file" id="filetag" accept="image/png, image/jpeg, image/jpg" style="width: 75%; position:absolute; top: 30%; left: 12%">
                    <input id="predict" class="cust_button" type="submit" value="Upload" style="width: 75%; position:absolute; top: 50%; left: 12%"/> 
                </div>

                <div style="width: 280px; height: 280px; float:left; border:1px solid black; font-size: 280px; line-height: 280px; text-align: center">
                    <span id="num" style="">{{number}}</span>
                </div>
            </div>
        </form>
    </body>

    <script>
        var fileTag = document.getElementById("filetag"),
            preview = document.getElementById("preview");
            
        fileTag.addEventListener("change", function() {
        changeImage(this);
        });

        function changeImage(input) {
        var reader;

        if (input.files && input.files[0]) {
            reader = new FileReader();

            reader.onload = function(e) {
            preview.setAttribute('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
        }
    </script>

</html>